html {
    background-color: turquoise;
}
body {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    background-color: violet;
    grid-auto-flow: row dense;
}
section {
    background-color: rgb(232, 250, 221);
    border-radius: 1rem;
    padding: 1rem;
}
.main_info {
    grid-column: 1/2;
}
.skills {
    grid-column: 5/6;
}