html {
    background-color: rgb(23, 223, 203);
}
body {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin: 5% auto 5% auto;
    background-color: #40e0d0;
    grid-auto-flow: row dense;
    grid-template-areas:    "header header header header header"
                            "item item item"
                            "item item item"
                            "item item item"
                            "footer footer footer footer footer";
}
section {
    background-color: dimgrey(232, 250, 221);
    border-radius: 1rem;
    padding: 1rem;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/6;
    border-radius: 20px;
    line-height: 150%;
    gap: 1rem;
}
footer {
    grid-column: 1/6;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "button button button button";
}
button {
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(59,111,130,1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(59,111,130,1);
    box-shadow: 0px 0px 24px 0px rgba(59,111,130,1);
}
a {
    display: grid;
    justify-content: center;
}
.main_info {
    grid-column: 1/2;
    grid-row: 2/4;
}
.work_experience {
    grid-column: 3/5;
    grid-row: 2/3;
}
.skills {
    grid-column: 5/6;
    grid-row: 2/4;
}
.item {
    line-height: 150%;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(59,111,130,1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(59,111,130,1);
    box-shadow: 0px 0px 24px 0px rgba(59,111,130,1);
}
#header {
    margin: 1rem auto 1rem auto;
}