html {
    background-color: rgb(255, 255, 255);
}
body {
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
    margin: 5% auto 5% auto;
    grid-auto-flow: row dense;
    grid-template-areas:    "header header header header header"
                            "item item item"
                            "item item item"
                            "item item item"
                            "footer footer footer footer footer";
}
section {
    border-radius: 1rem;
    padding: 1rem;
}
header {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr 1fr;
    grid-column: 1/6;
    border-radius: 1rem;
    line-height: 150%;
    gap: 1rem;
}
footer {
    grid-column: 1/6;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "button button button button";
}
button {
    border-style:solid;
    border-radius: 1rem;
    border-color: white;
    background-color: white;
}
button:hover {
    border-style: solid;
    border-color: rgb(85, 85, 85);
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 86px -2px rgba(255,255,255,1);
    -moz-box-shadow: 5px 5px 86px -2px rgba(255,255,255,1);
    box-shadow: 5px 5px 86px -2px rgba(255,255,255,1);
}
footer, button, .item {
    -webkit-box-shadow: 0px 0px 8px 5px rgba(150,150,150,1);
    -moz-box-shadow: 0px 0px 8px 5px rgba(150,150,150,1);
    box-shadow: 0px 0px 8px 5px rgba(150,150,150,1);
}

.footer {
    display: grid;
    justify-content: center;
}
.main_info {
    grid-column: 1/2;
    grid-row: 2/4;
}
.work_experience {
    grid-column: 3/5;
    grid-row: 2/3;
}
.skills {
    grid-column: 5/6;
    grid-row: 2/4;
}
.item {
    line-height: 150%;
}
#header {
    margin: 1rem auto 1rem auto;
}